<div id="accountpageloaded"></div>
<div class="container">
	<div class="row mt-5">
		<div class="col-12 col-md-6">
			<div class="card mb-5 mb-md-0">
				<ul class="list-group list-group-flush">
					<div class="row">
						<div class="col-12 col-md-12">
							<li class="list-group-item p-0 pt-2">
								<p class="text-center mb-0" style="color: #b3b3b3">Name</p>
								<p class="lead text-center m-0 mb-2" style="font-size: 34px;">Nicolas Ågnes<br></p>
							</li>
						</div>
						<div class="col-12 col-md-12">
							<li class="list-group-item p-0 pt-2" style="border-top: 1px solid #dfdfdf">
								<p class="text-center mb-0" style="color: #b3b3b3;">Status</p>
								<p class="lead text-center m-0 mb-2" style="font-size: 34px;">Not Subscribed </p>
							</li>
						</div>
						<div class="col-12 col-md-12">
							<li class="list-group-item p-0 pt-2" style="border-top: 1px solid #dfdfdf">
								<p class="text-center mb-0" style="color: #b3b3b3;">Question Banks</p>
								<p class="lead text-center m-0 mb-2" style="font-size: 34px;">None</p>
							</li>
						</div>
					</div>
				</ul>
			</div>
		</div>
		<div class="col-12 col-md-6">
			<div class="form-group">
				<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Contact us here..."></textarea>
				<button class="btn btn-block btn-outline-primary mt-2">Send message</button>
			</div>
		</div>
	</div>

	<div class="row justify-content-center">
            <div class="col-md-6 col-12 col-lg-4 col-xl-3 d-flex justify-content-center  my-4 my-md-4 mb-md-5 mb-xl-4">
              <div class="mathCourse p-3" style="background-color: #e91a8f;  width: 247.5px; height: 356px;">
                <a href="#" onclick="return false;" class="mainCourse">
                  <h2 class="text-center mt-3 mb-3">Physics<br>Higher Level</h2>
                  <div class="d-flex justify-content-center">
                    <img src="/static/phylogo5.png" class="p-3" style="height: 180px; width: 180px;">
                  </div>
                  <p class="mt-3 text-center lead"></p>
                  <div class="text-center align-text-bottom" style=" position: absolute;
                    left: 0px;
                    top: 285px;
                    width: 247.5px;
                    height: 55px;
                    background-color: rgba(255, 255, 255, 0.4);
                    color: white;"><p style="font-size: 28px; margin-top: 6px; opacity: 1.0">Coming Soon!</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-6 col-12 col-lg-4 col-xl-3 d-flex justify-content-center  my-4 my-md-4 mb-md-5 mb-xl-4">
              <div class="mathCourse p-3" style="background-color: #625cdb; width: 247.5px; height: 356px;">
                <a href="#" onclick="return false;" class="mainCourse">
                  <h2 class="text-center mt-3 mb-3">Chemistry<br>Higher Level</h2>
                  <div class="d-flex justify-content-center">
                    <img src="/static/chemlogo2.png" class="p-3" style="height: 180px; width: 180px;">
                  </div>
                  <p class="mt-3 text-center lead"></p>
                  <div class="text-center align-text-bottom" style=" position: absolute;
                    left: 0px;
                    top: 285px;
                    width: 247.5px;
                    height: 55px;
                    background-color: rgba(255, 255, 255, 0.4);
                    color: white;"><p style="font-size: 28px; margin-top: 6px; opacity: 1.0">Coming Soon!</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-6 col-12 col-lg-4 col-xl-3 d-flex justify-content-center  my-4 my-md-4 mb-md-5 mb-xl-4">
              <div class="mathCourse p-3" style="background-color: #ec7300; width: 247.5px; height: 356px;">
                <a href="#" onclick="return false;" class="mainCourse">
                  <h2 class="text-center mt-3 mb-3">Economics Higher Level</h2>
                  <div class="d-flex justify-content-center">
                    <img src="/static/hleconlogo6.png" class="p-3" style="height: 180px; width: 180px;">
                  </div>
                  <p class="mt-3 text-center lead"></p>
                  <div class="text-center align-text-bottom" style=" position: absolute;
                    left: 0px;
                    top: 285px;
                    width: 247.5px;
                    height: 55px;
                    background-color: rgba(255, 255, 255, 0.4);
                    color: white;"><p style="font-size: 28px; margin-top: 6px; opacity: 1.0">Coming Soon!</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-6 col-12 col-lg-4 col-xl-3 d-flex justify-content-center  my-4 my-md-4 mb-md-5 mb-xl-4">
              <div class="mathCourse p-3" style="background-color: #20a900; width: 247.5px; height: 356px;">
                <a href="#" onclick="return false;" class="mainCourse">
                  <h2 class="text-center mt-3 mb-3">Mathematics Standard Level</h2>
                  <div class="d-flex justify-content-center">
                    <img src="/static/slmathlogo7.png" class="p-3" style="height: 180px; width: 180px;">
                  </div>
                  <p class="mt-3 text-center lead"></p>
                  <div class="text-center align-text-bottom" style=" position: absolute;
                    left: 0px;
                    top: 285px;
                    width: 247.5px;
                    height: 55px;
                    background-color: rgba(255, 255, 255, 0.4);
                    color: white;"><p style="font-size: 28px; margin-top: 6px; opacity: 1.0">Coming Soon!</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-6 col-12 col-lg-4 col-xl-3 d-flex justify-content-center  my-4 my-md-4 mb-md-5 mb-xl-4">
              <div class="mathCourse p-3" style="background-color: #69047e; width: 247.5px; height: 356px;">
                <a href="#" onclick="return false;" class="mainCourse">
                  <h2 class="text-center mt-3 mb-3">Physics<br>Standard Level</h2>
                  <div class="d-flex justify-content-center">
                    <img src="/static/slphylogo7.png" class="p-3" style="height: 180px; width: 180px;">
                  </div>
                  <p class="mt-3 text-center lead"></p>
                  <div class="text-center align-text-bottom" style=" position: absolute;
                    left: 0px;
                    top: 285px;
                    width: 247.5px;
                    height: 55px;
                    background-color: rgba(255, 255, 255, 0.4);
                    color: white;"><p style="font-size: 28px; margin-top: 6px; opacity: 1.0">Coming Soon!</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-6 col-12 col-lg-4 col-xl-3 d-flex justify-content-center  my-4 my-md-4 mb-md-5 mb-xl-4">
              <div class="mathCourse p-3" style="background-color: #d62007; width: 247.5px; height: 356px;">
                <a href="#" onclick="return false;" class="mainCourse">
                  <h2 class="text-center mt-3 mb-3">Chemistry Standard Level</h2>
                  <div class="d-flex justify-content-center">
                    <img src="/static/firstlogo1.png" class="p-3" style="height: 180px; width: 180px;">
                  </div>
                  <p class="mt-3 text-center lead"></p>
                  <div class="text-center align-text-bottom" style=" position: absolute;
                    left: 0px;
                    top: 285px;
                    width: 247.5px;
                    height: 55px;
                    background-color: rgba(255, 255, 255, 0.4);
                    color: white;"><p style="font-size: 28px; margin-top: 6px; opacity: 1.0">Coming Soon!</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-6 col-12 col-lg-4 col-xl-3 d-flex justify-content-center  my-4 my-md-4 mb-md-5 mb-xl-4">
              <div class="mathCourse p-3" style="background-color: #0093a6; width: 247.5px; height: 356px;">
                <a href="#" onclick="return false;" class="mainCourse">
                  <h2 class="text-center mt-3 mb-3">Economics Standard Level</h2>
                  <div class="d-flex justify-content-center">
                    <img src="/static/hleconlogo6.png" class="p-3" style="height: 180px; width: 180px;">
                  </div>
                  <p class="mt-3 text-center lead"></p>
                  <div class="text-center align-text-bottom" style=" position: absolute;
                    left: 0px;
                    top: 285px;
                    width: 247.5px;
                    height: 55px;
                    background-color: rgba(255, 255, 255, 0.4);
                    color: white;"><p style="font-size: 28px; margin-top: 6px; opacity: 1.0">Coming Soon!</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
</div>