<script type="text/javascript">
function signinFunction() {
  
swal({
  title: 'Are you sure?',
  text: "You won't be able to revert this!",
  type: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes, delete it!'
}).then((result) => {
  if (result.value) {
    swal(
      'Deleted!',
      'Your file has been deleted.',
      'success'
    )
  }
})
}
</script>

<nav class="navbar navbar-expand-lg navbar-light bg-white box-shadow">
  <a class="navbar-brand" href="/">
    <img src="/static/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    QuestionBanks
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Courses
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Math HL</a>
          <a class="dropdown-item" href="#">Math SL</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Pyshics HL</a>
          <a class="dropdown-item" href="#">Pyshics SL</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Chemistry HL</a>
          <a class="dropdown-item" href="#">Chemistry SL</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Biology HL</a>
          <a class="dropdown-item" href="#">Biology SL</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Resources</a>
      </li>
    </ul>
    <div>Hey there</div>
      <button class="btn btn-outline-success my-2 my-sm-0 dropdown-toggle" data-toggle="dropdown">Search</button>
      <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
  </div>
</nav>

{{!-- <div class='fb-login-button' data-max-rows='1' data-size='large' data-button-type='continue_with' data-show-faces='false' data-auto-logout-link='false' data-use-continue-as='false'></div>
 --}}
<a href='/auth/google'>
  <div class='g-sign-in-button'>
    <div class=content-wrapper>
    <div class='logo-wrapper'>  
      <img src='https://developers.google.com/identity/images/g-logo.png'>
      </div>  
      <span class='text-container'> 
        <span>Sign in with Google</span>
      </span>
    </div>  
  </div>
</a>

{{!-- <div class="fb-login-button" data-max-rows="1" data-size="medium" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true"></div> --}}

{{!-- <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true"></div> --}}
{{!-- <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true"></div> --}}

{{!-- <div class='fb-login-button' data-max-rows='1' data-size='large' data-button-type='continue_with' data-show-faces='false' data-auto-logout-link='false' data-use-continue-as='true'></div> --}}

<script>
$("#login").click(function() {

swal(
  'Good job!',
  'You clicked the button!',
  'success'
)

// document.getElementsByClassName('swal2-header')[0].innerHTML = "<a href='/auth/google'><div class='g-sign-in-button'><div class=content-wrapper><div class='logo-wrapper'><img src='https://developers.google.com/identity/images/g-logo.png'></div><span class='text-container'><span>Sign in with Google</span></span></div></div></a>";

document.getElementsByClassName('swal2-header')[0].innerHTML = "<div class='fb-login-button' data-max-rows='1' data-size='large' data-button-type='login_with' data-show-faces='false' data-auto-logout-link='false' data-use-continue-as='false'></div>";

// document.getElementsByClassName('swal2-content')[0].innerHTML = "<a href='/auth/google'><div class='g-sign-in-button'><div class=content-wrapper><div class='logo-wrapper'><img src='https://developers.google.com/identity/images/g-logo.png'></div><span class='text-container'><span>Sign in with Google</span></span></div></div></a>";

document.getElementsByClassName('swal2-confirm swal2-styled')[0].innerHTML = "<div class='fb-login-button' data-max-rows='1' data-size='large' data-button-type='login_with' data-show-faces='false' data-auto-logout-link='false' data-use-continue-as='false'></div>";

});

</script>


<div class="container">
  <h2>Basic Modal Example</h2>
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>



