<h1>This is the home page</h1>
<p>And this is a parargraps</p>
<nav class="navbar navbar-expand-lg navbar-light bg-light box-shadow">
  <a class="navbar-brand" href="#">
    <img src="/static/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    QuestionBanks
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


<p>
  <a href="https://developers.google.com/identity/sign-in/web/">Check out the tutorial on google.</a>
</p>  
<div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
<pre id="info"></pre>
<a href="#" onclick="signOut();">Sign out</a>



<h1>Head thing</h1>

<script type="text/javascript">
var info = document.getElementById('info');
info.innerHTML = "not signed in";
function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  // Do not send profile info to your backend! Use an ID token instead.
  info.innerHTML = "signed in: " + profile.getName();
        
  // Send this to the backend for authenticaton.
  var id_token = googleUser.getAuthResponse().id_token;  
  var xhr = new XMLHttpRequest();
  xhr.open('POST', 'http://www.douglassbranton.com/yousurveyit/api/signin.php');
  xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
  xhr.onreadystatechange = function() {
    if (xhr.readyState == 4) {
      if (xhr.status == 200) alert('success');
      // else alert('fail: ' + xhr.responseText + xhr.status);
    }    
  }
  xhr.send('idtoken=' + id_token);
}
function signOut() {
  var auth2 = gapi.auth2.getAuthInstance();
  auth2.signOut().then(function () {
    console.log('User signed out.');
    info.innerHTML = "not signed in";
  });
}
</script>

{{!-- 

  <div id="my-signin2"><div style="height:50px;width:240px;" class="abcRioButton abcRioButtonBlue"><div class="abcRioButtonContentWrapper"><div class="abcRioButtonIcon" style="padding:15px"><div style="width:18px;height:18px;" class="abcRioButtonSvgImageWithFallback abcRioButtonIconImage abcRioButtonIconImage18"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" viewBox="0 0 48 48" class="abcRioButtonSvg"><g><path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path><path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path><path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path><path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path><path fill="none" d="M0 0h48v48H0z"></path></g></svg></div></div><span style="font-size:16px;line-height:48px;" class="abcRioButtonContents"><span id="not_signed_inr9n3rse4yvjd">Sign in with Google</span><span id="connectedr9n3rse4yvjd" style="display:none">Signed in with Google</span></span></div></div></div>
  <script src="https://apis.google.com/_/scs/apps-static/_/js/k=oz.gapi.en_GB.1uVDrvGoou0.O/m=signin2/rt=j/sv=1/d=1/ed=1/am=wQ/rs=AGLTcCNixlPgnSclygoKsgmu4KO2UmkMlw/cb=gapi.loaded_0" async=""></script><script>
    function onSuccess(googleUser) {
      console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
    }
    function onFailure(error) {
      console.log(error);
    }
    function renderButton() {
      gapi.signin2.render('my-signin2', {
        'scope': 'profile email',
        'width': 240,
        'height': 50,
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': onSuccess,
        'onfailure': onFailure
      });
    }
  </script>

  <script src="https://apis.google.com/js/platform.js?onload=renderButton" async="" defer="" gapi_processed="true"></script>

<!-- [END body] -->
{{!-- 
<iframe aria-hidden="true" id="ssIFrame_google" sandbox="allow-scripts allow-same-origin" style="position: absolute; width: 1px; height: 1px; left: -9999px; display: none;" src="https://accounts.google.com/o/oauth2/iframe#origin=https%3A%2F%2Fgoogle-developers.appspot.com&amp;rpcToken=241350246.65125868"></iframe></body> --}} --}}