<div id="homepageloaded"></div>
<div class="container">
  <h3>Welcome to the home page</h3>
  <a href="/questions">Questions page</a>
  <a href="/features">Features page</a>
  <a href="/account">Account page</a>
</div>

<section class="jumbotron text-center m-0 pt-3 pb-3">
	<div class="container">
	  <h1 class="jumbotron-heading">Courses</h1>
	  <p class="lead text-muted">Try our free course to find out more about the structure and difficulty of our main IB courses, including maths, economics and sciences, now available in both standard and higher level.</p>
	  <p>
	    <a href="#" class="btn btn-primary mb-2">Try our free course</a>
	  </p>
	</div>
</section>

<div class="bg-light pt-4">
<div class="container">

<div class="row">
<div class="col-md-4">
  <div class="card mb-4 box-shadow">
    <img class="card-img-top rounded-top" src="/static/lowResolution.png">	
    <div class="card-body p-4">
      <h3 class="card-title mb-2">Mathematics HL</h3>
        <p class="card-text text-muted pb-2">7 Chapters</p>
        <a href="/courses" class="btn btn-lg btn-block btn-mathHL">Start Course</a>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="card mb-4 box-shadow">
    <img class="card-img-top rounded-top" src="/static/lowResolutionBest.png">	
    <div class="card-body p-4">   
      <h3 class="card-title mb-2">Physics HL</h3>
		          <p class="card-text text-muted pb-2">10 Chapters</p>
        <a href="/courses" class="btn btn-lg btn-block btn-mathHL">Start Course</a>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="card mb-4 box-shadow">
    <img class="card-img-top rounded-top" src="/static/newColour.png">	
    <div class="card-body p-4">
      <h3 class="card-title mb-2">Chemistry HL</h3>
        <p class="card-text text-muted pb-2">9 Chapters</p>
		          <a href="/courses" class="btn btn-lg btn-block btn-chemHL">Start Course</a>
    </div>
  </div>
</div>

<div class="col-md-4">
  <div class="card mb-4 box-shadow">
    <img class="card-img-top rounded-top" src="/static/homeLogo.png">	
    <div class="card-body">
      <h3 class="card-text mb-3">Mathematics SL</h3>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
        </div>
        <small class="text-muted">9 mins</small>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="card mb-4 box-shadow">
    <img class="card-img-top rounded-top" src="/static/homeLogo.png">	
    <div class="card-body">
      <h3 class="card-text mb-3">Physics SL</h3>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
        </div>
        <small class="text-muted">9 mins</small>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="card mb-4 box-shadow">
    <img class="card-img-top rounded-top" src="/static/homeLogo.png">	
    <div class="card-body">
      <h3 class="card-text mb-3">Chemistry SL</h3>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
        </div>
        <small class="text-muted">9 mins</small>
      </div>
    </div>
  </div>
</div>

<div class="col-md-4 offset-md-2">
  <div class="card mb-4 box-shadow">
    <img class="card-img-top rounded-top" src="/static/homeLogo.png">	
    <div class="card-body">
      <h3 class="card-text mb-3">Economics HL</h3>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
        </div>
        <small class="text-muted">9 mins</small>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="card mb-4 box-shadow">
    <img class="card-img-top rounded-top" src="/static/homeLogo.png">	
    <div class="card-body">
      <h3 class="card-text mb-3">Economics SL</h3>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
        </div>
        <small class="text-muted">9 mins</small>
      </div>
    </div>
  </div>
</div>

<script>
  $(window).bind("load", function() {
   document.getElementById('body').classList.remove('d-none');
});
</script>