<section class="py-2" id="payment">
  <div class="row">
    <div class="col-md-6 text-center">
      <h1 class="display-3 mt-3 pt-5">
        Web Development Ebook
      </h1><p class="lead">learn web development front to back</p>
      <form action="/charge" method="POST" >
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_R1t10dIbHfxoFRa9gsdjGuos"
          data-amount="2500"
          data-name="Web Development Ebook"
          data-description="Ebookr written by Brad Traversy"
          data-image="/static/logo.png"
          data-locale="auto">
        </script>
        <script>
          document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
        </script>
        <button type="submit" class="btn btn-outline-dark btn-lg">Purchase For $25</button>
        <input type="hidden" id="gid" name="gid" value="">
      </form>
    </div>
    <div class="col-md-6">
      <img src="/static/logo.png" alt="" class="img-fluid">
    </div>
  </div>
</section>

<!-- BETWEEN DATA-DESCRIPTION AND DATA LOCALE ADD data-image="/static/logo.png" -->