<!-- Top Chapter Selection Bar -->
<div class="container mt-3">
	{{!-- CHAPTER LINKS --}}
	<nav>
		<div class="nav nav-tabs" id="nav-tab" role="tablist">
			<a class="nav-item nav-link active chapterHeader" id="nav-chapter1-tab" data-toggle="tab" href="#nav-chapter1" role="tab" aria-controls="nav-chapter1" aria-selected="true">Chapter 1</a>
			<a class="nav-item nav-link chapterHeader" id="nav-chapter2-tab" data-toggle="tab" href="#nav-chapter2" role="tab" aria-controls="nav-chapter2" aria-selected="false">Chapter 2</a>
		</div>
	</nav>
	{{!-- CHAPTER SECTIONS --}}
	<div class="tab-content" id="nav-tabContent-chapter">
		{{!-- CHAPTER 1 --}}
		<div class="tab-pane fade show active" id="nav-chapter1" role="tabpanel" aria-labelledby="nav-chapter1-tab">
			{{!-- CHAPTER 1 HEADING --}}
			<div class="p-0 mt-3 d-flex justify-content-start">
				<div>
					<img src="/static/chapterLogo.png" class="d-flex rounded" style="width: 129px; height: 129px;">
				</div>
				<div class="rounded ml-3" style="width: 100%">
					<div class="card text-center">
						<div class="card-body">
							<h2 class="card-title mb-0">Chapter 1: Algebra</h2>
						</div>
						<div class="card-footer text-muted" style="background-color: #f1f1f1">Stats:</div>
					</div>
				</div>
			</div>
			{{!-- QUESTIONS SECTION --}}
			<div class="row mt-3">
				<div class="col-3">
					<div class="list-group" id="list-tab" role="tablist">
						{{!-- INSERTING THE SIDERBAR QUESTIONS HERE --}}
					</div>
				</div>
				<div class="col-6 bg-grey">
					<div class="tab-content" id="nav-tabContent-questions">
						{{!-- INSERTING THE QUESTION PARAGRAPHS HERE --}}
						<ul class="nav nav-pills nav-fill nav-tabs" id="myTab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="question-tab" data-toggle="tab" href="#question" role="tab" aria-controls="question" aria-selected="true">Question</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="solution-tab" data-toggle="tab" href="#solution" role="tab" aria-controls="solution" aria-selected="false">Solution</a>
							</li>
						</ul>
						<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade show active" id="questionABBA" role="tabpanel" aria-labelledby="question-tab"></div>
							<div class="tab-pane fade" id="solution" role="tabpanel" aria-labelledby="solution-tab"></div>
						</div>
					</div>
				</div>
				<div class="col-3">
					<button type="button" class="btn btn-outline-primary btn-lg btn-block" id="optionA"></button>
					<button type="button" class="btn btn-outline-primary btn-lg btn-block" id="optionB"></button>
					<button type="button" class="btn btn-outline-primary btn-lg btn-block" id="optionC"></button>
					<button type="button" class="btn btn-outline-primary btn-lg btn-block" id="optionD"></button>
					<button type="button" class="btn btn-primary btn-lg btn-block">Check answer</button>
				</div>
			</div>
		</div>
		{{!-- CHAPTER 2 --}}
		<div class="tab-pane fade" id="nav-chapter2" role="tabpanel" aria-labelledby="nav-chapter2-tab">This is the second chapter.</div>
	</div>
</div>
<script src="/static/js/questions.js"></script>
<script src="/static/js/insertQuestions.js"></script>