<!-- Top Chapter Selection Bar -->
<div class="d-none" id="questionspageloaded">The questions page has been loaded</div>
<div class="container mt-3">
	{{!-- CHAPTER LINKS --}}
	<nav>
		<div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist" style="border-bottom: 0px;">
			<a class="nav-item nav-link active chapterHeader chapter1" id="nav-chapter1-tab" data-toggle="tab" href="#nav-chapter1" role="tab" aria-controls="nav-chapter1" aria-selected="true">Chapter 1</a>
			<a class="nav-item nav-link chapterHeader chapter2" id="nav-chapter2-tab" data-toggle="tab" href="#nav-chapter2" role="tab" aria-controls="nav-chapter2" aria-selected="false">Chapter 2</a>
			<a class="nav-item nav-link chapterHeader chapter3" id="nav-chapter3-tab" data-toggle="tab" href="#nav-chapter3" role="tab" aria-controls="nav-chapter3" aria-selected="false">Chapter 3</a>
			<a class="nav-item nav-link chapterHeader chapter4" id="nav-chapter4-tab" data-toggle="tab" href="#nav-chapter4" role="tab" aria-controls="nav-chapter4" aria-selected="false">Chapter 4</a>
			<a class="nav-item nav-link chapterHeader chapter5" id="nav-chapter5-tab" data-toggle="tab" href="#nav-chapter5" role="tab" aria-controls="nav-chapter5" aria-selected="false">Chapter 5</a>
			<a class="nav-item nav-link chapterHeader chapter6" id="nav-chapter6-tab" data-toggle="tab" href="#nav-chapter6" role="tab" aria-controls="nav-chapter6" aria-selected="false">Chapter 6</a>
		</div>
	</nav>
	{{!-- CHAPTER SECTIONS --}}
	<div class="tab-content" id="nav-tabContent-chapter">
		{{!-- CHAPTER 1 --}}
		<div class="tab-pane show active" id="nav-chapter1" role="tabpanel" aria-labelledby="nav-chapter1-tab">
			{{!-- CHAPTER 1 HEADING --}}
			<div class="p-0 mt-0 d-flex justify-content-start" style="background-color: #fff; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border: 1px solid #dfdfdf;">
				<div class="rounded" style="width: 100%;border-radius: 4px;border-bottom-left-radius: 3px;">
					<h2 class="text mt-3  text-center">Algebra</h2>
					<p class="text text-center mt-1" style="margin-bottom: 13px;">Logarithms | Series &amp; Sequences | Functions</p>
				</div>
			</div>
			{{!-- QUESTIONS SECTION --}}
			<div class="row mt-3">
				<div class="col-10 col-lg-3 mb-3 mb-lg-0">
					<div class="list-group rounded scrollingQuestionsList" id="list-tab-chapter1" role="tablist">
						{{!-- INSERTING THE SIDERBAR QUESTIONS HERE --}}
					</div>
				</div>
				<div class="col-2 mb-3 mb-lg-0 d-md-block d-lg-none">
					<button class="btn btn-block btn-outline-dark px-0" id="questionDropdownButton-chapter1" style="height: 50px;" state="down">&darr;</button>
				</div>
				{{!-- IF USER IS NOT SIGNED IN DISPLAY THIS --}}
				<div class="col-12 col-lg-9 forceSignIn" id="forceSignIn">
					<div class="cn rounded" style="height: 100%; width: 100%; border: 1px solid #dfdfdf;">
						<div class="inner mb-3">
							<p class="text-center mt-2 mt-lg-0 mb-2">Sign in to see the questions.</p>
							<a class="d-flex align-items-center text-align-center btn btn-outline-primary text-white facebook-signin-link" href="/auth/facebook">
								<img src="/static/facebook-white-logo.jpg" width="30" height="30" class="d-inline-block align-top rounded" alt="">
								<div style="margin-left: 25px;">Sign in with Facebook</div>
							</a>
							<a class="d-flex align-items-center text-align-center btn btn-outline-primary mt-2 text-white google-signin-link" href="/auth/google">
								<img class="bg-white rounded" src="/static/google-logo-white.jpg" width="30" height="30" class="d-inline-block align-top rounded" alt="">
								<div style="margin-left: 33px;">Sign in with Google</div>
							</a>
						</div>
					</div>
				</div>
				{{!-- IF THE USER IS SIGNED IN DISPLAY QANDACOL AND OPTIONCOL --}}
				<div class="col-12 col-md-8 col-lg-6 bg-grey d-none QandACol">
					<div class="tab-content" id="nav-tabContent-questions-chapter1">
						{{!-- INSERTING THE QUESTION PARAGRAPHS HERE --}}
						<ul class="nav nav-fill nav-tabs" id="myTab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active chapterHeader qanda" id="question-tab-chapter1" data-toggle="tab" href="#question" role="tab" aria-controls="question" aria-selected="true">Question</a>
							</li>
							<li class="nav-item">
								<a class="nav-link chapterHeader qanda" id="solution-tab-chapter1" data-toggle="tab" href="#solution" role="tab" aria-controls="solution" aria-selected="false">Solution</a>
							</li>
						</ul>
						<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade show active" id="question" role="tabpanel" aria-labelledby="question-tab-chapter1"></div>
							<div class="tab-pane fade" id="solution" role="tabpanel" aria-labelledby="solution-tab-chapter1"></div>
						</div>
					</div>
				</div>
				{{!-- OPTIONS AND STATS DIV --}}
				<div class="col-12 col-md-4 col-lg-3 d-none optionCol">
					<div class="row">
						<div class="col-6 col-md-12 mb-2">
							<button type="button" class="btn btn-outline-secondary btn-lg btn-block optionButton" id="optionA-chapter1"><br></button>
						</div>
						<div class="col-6 col-md-12 mt-0 mt-lg-1 mb-2">
							<button type="button" class="btn btn-outline-secondary btn-lg btn-block optionButton" id="optionB-chapter1"><br></button>
						</div>
						<div class="col-6 col-md-12 mt-1 mb-2">
							<button type="button" class="btn btn-outline-secondary btn-lg btn-block optionButton" id="optionC-chapter1"><br></button>
						</div>
						<div class="col-6 col-md-12 mt-1 mb-2">
							<button type="button" class="btn btn-outline-secondary btn-lg btn-block optionButton" id="optionD-chapter1"><br></button>
						</div>
					</div>
					<button type="button" class="btn btn-dark btn-lg btn-block mt-1" id="checkAnswer-chapter1">Check answer</button>
					{{!-- QUESTION STATS DIV --}}
					<div class="card mt-3 mb-5 mb-md-0">
						<ul class="list-group list-group-flush">
							<div class="row">
								<div class="col-6 col-md-12" id="timesAnseredListElement-chapter1">
									<li class="list-group-item p-0 pt-2">
										<p id="timesAnswered-chapter1" class="lead text-center m-0" style="font-size: 34px;"><br></p>
										<p class="text-center mb-2" style="font-size">Times Answered</p>
									</li>
									<div id="statBorderBottom-chapter1"></div>
								</div>
								<div class="col-6 col-md-12">
									<li class="list-group-item p-0 pt-2">
										<p class="lead text-center m-0" style="font-size: 34px;"><span id="correctPercentage-chapter1"></span><span style="font-size: 16px; font-weight: lighter;">%</span></p>
										<p class="text-center mb-2" style="font-size">Answered Correctly</p>
									</li>
								</div>
							</div>
						</ul>
					</div>
				</div>
			</div>
		</div>
		{{!-- CHAPTER 2 --}}
		<div class="tab-pane" id="nav-chapter2" role="tabpanel" aria-labelledby="nav-chapter2-tab">
			{{!-- CHAPTER 2 HEADING --}}
			<div class="p-0 mt-0 d-flex justify-content-start" style="background-color: #fff; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border: 1px solid #dfdfdf;">
				<div class="rounded" style="width: 100%;border-radius: 4px;border-bottom-left-radius: 3px;">
					<h2 class="text mt-3 text-center">Functions & Equations</h2>
					<p class="text text-center mt-1" style="margin-bottom: 13px;">Complex numbers | Trigonometric Identities</p>
				</div>
			</div>
			{{!-- CHAPTER 2 CONTENT --}}
			<div class="row mt-3">
				<div class="col-10 col-lg-3 mb-3 mb-lg-0">
					<div class="list-group rounded scrollingQuestionsList" id="list-tab-chapter2" role="tablist">
						{{!-- INSERTING THE SIDERBAR QUESTIONS HERE --}}
					</div>
				</div>
				<div class="col-2 mb-3 mb-lg-0 d-md-block d-lg-none">
					<button class="btn btn-block btn-outline-dark px-0" id="questionDropdownButton-chapter2" style="height: 50px;" state="down">&darr;</button>
				</div>
				{{!-- IF USER IS NOT SIGNED IN DISPLAY THIS --}}
				<div class="col-12 col-lg-9 forceSignIn" id="forceSignIn">
					<div class="cn rounded" style="height: 100%; width: 100%; border: 1px solid #dfdfdf;">
						<div class="inner mb-3">
							<p class="text-center mt-2 mt-lg-0 mb-2">Sign in to see the questions.</p>
							<a class="d-flex align-items-center text-align-center btn btn-outline-primary text-white facebook-signin-link" href="/auth/facebook">
								<img src="/static/facebook-white-logo.jpg" width="30" height="30" class="d-inline-block align-top rounded" alt="">
								<div style="margin-left: 25px;">Sign in with Facebook</div>
							</a>
							<a class="d-flex align-items-center text-align-center btn btn-outline-primary mt-2 text-white google-signin-link" href="/auth/google">
								<img class="bg-white rounded" src="/static/google-logo-white.jpg" width="30" height="30" class="d-inline-block align-top rounded" alt="">
								<div style="margin-left: 33px;">Sign in with Google</div>
							</a>
						</div>
					</div>
				</div>
				{{!-- IF THE USER IS SIGNED IN DISPLAY QANDACOL AND OPTIONCOL --}}
				<div class="col-12 col-md-8 col-lg-6 bg-grey d-none QandACol">
					<div class="tab-content" id="nav-tabContent-questions-chapter2">
						{{!-- INSERTING THE QUESTION PARAGRAPHS HERE --}}
						<ul class="nav nav-fill nav-tabs" id="myTab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active chapterHeader qanda" id="question-tab-chapter2" data-toggle="tab" href="#question" role="tab" aria-controls="question" aria-selected="true">Question</a>
							</li>
							<li class="nav-item">
								<a class="nav-link chapterHeader qanda" id="solution-tab-chapter2" data-toggle="tab" href="#solution" role="tab" aria-controls="solution" aria-selected="false">Solution</a>
							</li>
						</ul>
						<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade show active" id="question" role="tabpanel" aria-labelledby="question-tab-chapter2"></div>
							<div class="tab-pane fade" id="solution" role="tabpanel" aria-labelledby="solution-tab-chapter2"></div>
						</div>
					</div>
				</div>
				{{!-- OPTIONS AND STATS DIV --}}
				<div class="col-12 col-md-4 col-lg-3 d-none optionCol">
					<div class="row">
						<div class="col-6 col-md-12 mb-2">
							<button type="button" class="btn btn-outline-secondary btn-lg btn-block optionButton" id="optionA-chapter2"><br></button>
						</div>
						<div class="col-6 col-md-12 mt-0 mt-lg-1 mb-2">
							<button type="button" class="btn btn-outline-secondary btn-lg btn-block optionButton" id="optionB-chapter2"><br></button>
						</div>
						<div class="col-6 col-md-12 mt-1 mb-2">
							<button type="button" class="btn btn-outline-secondary btn-lg btn-block optionButton" id="optionC-chapter2"><br></button>
						</div>
						<div class="col-6 col-md-12 mt-1 mb-2">
							<button type="button" class="btn btn-outline-secondary btn-lg btn-block optionButton" id="optionD-chapter2"><br></button>
						</div>
					</div>
					<button type="button" class="btn btn-dark btn-lg btn-block mt-1" id="checkAnswer-chapter2">Check answer</button>
					{{!-- QUESTION STATS DIV --}}
					<div class="card mt-3 mb-5 mb-md-0">
						<ul class="list-group list-group-flush">
							<div class="row">
								<div class="col-6 col-md-12" id="timesAnseredListElement-chapter2">
									<li class="list-group-item p-0 pt-2">
										<p id="timesAnswered-chapter2" class="lead text-center m-0" style="font-size: 34px;"><br></p>
										<p class="text-center mb-2" style="font-size">Times Answered</p>
									</li>
									<div id="statBorderBottom-chapter2"></div>
								</div>
								<div class="col-6 col-md-12">
									<li class="list-group-item p-0 pt-2">
										<p class="lead text-center m-0" style="font-size: 34px;"><span id="correctPercentage-chapter2"></span><span style="font-size: 16px; font-weight: lighter;">%</span></p>
										<p class="text-center mb-2" style="font-size">Answered Correctly</p>
									</li>
								</div>
							</div>
						</ul>
					</div>
				</div>
				<div class="col-12 col-lg-9 cn" id="subscribeNow-chapter2" style="overflow-x: auto;">
					{{!-- THE SUBSCRIBE NOW DIV IS INSERTED HERE IF NOT PAID --}}
				</div>
			</div>
		</div>
		{{!-- CHAPTER 3 --}}
		<div class="tab-pane" id="nav-chapter3" role="tabpanel" aria-labelledby="nav-chapter3-tab">
			{{!-- CHAPTER 3 HEADING --}}
			<div class="p-0 mt-0 d-flex justify-content-start" style="background-color: #fff; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border: 1px solid #dfdfdf;">
				<div class="rounded" style="width: 100%;border-radius: 4px;border-bottom-left-radius: 3px;">
					<h2 class="text mt-3 text-center">Trigonometry</h2>
					<p class="text text-center mt-1" style="margin-bottom: 13px;">Complex numbers | Trigonometric Identities</p>
				</div>
			</div>
			{{!-- CHAPTER 3 CONTENT --}}
			<div class="row mt-3">
				<div class="col-10 col-lg-3 mb-3 mb-lg-0">
					<div class="list-group rounded scrollingQuestionsList" id="list-tab-chapter3" role="tablist">
						{{!-- INSERTING THE SIDERBAR QUESTIONS HERE --}}
					</div>
				</div>
				<div class="col-2 mb-3 mb-lg-0 d-md-block d-lg-none">
					<button class="btn btn-block btn-outline-dark px-0" id="questionDropdownButton-chapter3" style="height: 50px;" state="down">&darr;</button>
				</div>
				{{!-- IF USER IS NOT SIGNED IN DISPLAY THIS --}}
				<div class="col-12 col-lg-9 forceSignIn" id="forceSignIn">
					<div class="cn rounded" style="height: 100%; width: 100%; border: 1px solid #dfdfdf;">
						<div class="inner mb-3">
							<p class="text-center mt-2 mt-lg-0 mb-2">Sign in to see the questions.</p>
							<a class="d-flex align-items-center text-align-center btn btn-outline-primary text-white facebook-signin-link" href="/auth/facebook">
								<img src="/static/facebook-white-logo.jpg" width="30" height="30" class="d-inline-block align-top rounded" alt="">
								<div style="margin-left: 25px;">Sign in with Facebook</div>
							</a>
							<a class="d-flex align-items-center text-align-center btn btn-outline-primary mt-2 text-white google-signin-link" href="/auth/google">
								<img class="bg-white rounded" src="/static/google-logo-white.jpg" width="30" height="30" class="d-inline-block align-top rounded" alt="">
								<div style="margin-left: 33px;">Sign in with Google</div>
							</a>
						</div>
					</div>
				</div>
				{{!-- IF THE USER IS SIGNED IN DISPLAY QANDACOL AND OPTIONCOL --}}
				<div class="col-12 col-md-8 col-lg-6 bg-grey d-none QandACol">
					<div class="tab-content" id="nav-tabContent-questions-chapter3">
						{{!-- INSERTING THE QUESTION PARAGRAPHS HERE --}}
						<ul class="nav nav-fill nav-tabs" id="myTab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active chapterHeader qanda" id="question-tab-chapter3" data-toggle="tab" href="#question" role="tab" aria-controls="question" aria-selected="true">Question</a>
							</li>
							<li class="nav-item">
								<a class="nav-link chapterHeader qanda" id="solution-tab-chapter3" data-toggle="tab" href="#solution" role="tab" aria-controls="solution" aria-selected="false">Solution</a>
							</li>
						</ul>
						<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade show active" id="question" role="tabpanel" aria-labelledby="question-tab-chapter3"></div>
							<div class="tab-pane fade" id="solution" role="tabpanel" aria-labelledby="solution-tab-chapter3"></div>
						</div>
					</div>
				</div>
				{{!-- OPTIONS AND STATS DIV --}}
				<div class="col-12 col-md-4 col-lg-3 d-none optionCol">
					<div class="row">
						<div class="col-6 col-md-12 mb-2">
							<button type="button" class="btn btn-outline-secondary btn-lg btn-block optionButton" id="optionA-chapter3"><br></button>
						</div>
						<div class="col-6 col-md-12 mt-0 mt-lg-1 mb-2">
							<button type="button" class="btn btn-outline-secondary btn-lg btn-block optionButton" id="optionB-chapter3"><br></button>
						</div>
						<div class="col-6 col-md-12 mt-1 mb-2">
							<button type="button" class="btn btn-outline-secondary btn-lg btn-block optionButton" id="optionC-chapter3"><br></button>
						</div>
						<div class="col-6 col-md-12 mt-1 mb-2">
							<button type="button" class="btn btn-outline-secondary btn-lg btn-block optionButton" id="optionD-chapter3"><br></button>
						</div>
					</div>
					<button type="button" class="btn btn-dark btn-lg btn-block mt-1" id="checkAnswer-chapter3">Check answer</button>
					{{!-- QUESTION STATS DIV --}}
					<div class="card mt-3 mb-5 mb-md-0">
						<ul class="list-group list-group-flush">
							<div class="row">
								<div class="col-6 col-md-12" id="timesAnseredListElement-chapter3">
									<li class="list-group-item p-0 pt-2">
										<p id="timesAnswered-chapter3" class="lead text-center m-0" style="font-size: 34px;"><br></p>
										<p class="text-center mb-2" style="font-size">Times Answered</p>
									</li>
									<div id="statBorderBottom-chapter3"></div>
								</div>
								<div class="col-6 col-md-12">
									<li class="list-group-item p-0 pt-2">
										<p class="lead text-center m-0" style="font-size: 34px;"><span id="correctPercentage-chapter3"></span><span style="font-size: 16px; font-weight: lighter;">%</span></p>
										<p class="text-center mb-2" style="font-size">Answered Correctly</p>
									</li>
								</div>
							</div>
						</ul>
					</div>
				</div>
				<div class="col-12 col-lg-9 cn" id="subscribeNow-chapter3" style="overflow-x: auto;">
					{{!-- THE SUBSCRIBE NOW DIV IS INSERTED HERE IF NOT PAID --}}
				</div>
			</div>
		</div>
		{{!-- CHAPTER 4 --}}
		<div class="tab-pane" id="nav-chapter4" role="tabpanel" aria-labelledby="nav-chapter4-tab">
			{{!-- CHAPTER 4 HEADING --}}
			<div class="p-0 mt-0 d-flex justify-content-start" style="background-color: #fff; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border: 1px solid #dfdfdf;">
				<div class="rounded" style="width: 100%;border-radius: 4px;border-bottom-left-radius: 3px;">
					<h2 class="text mt-3 text-center">Functions & Equations</h2>
					<p class="text text-center mt-1" style="margin-bottom: 13px;">Complex numbers | Trigonometric Identities</p>
				</div>
			</div>
			{{!-- CHAPTER 4 CONTENT --}}
			<div class="row mt-3">
				<div class="col-10 col-lg-3 mb-3 mb-lg-0">
					<div class="list-group rounded scrollingQuestionsList" id="list-tab-chapter4" role="tablist">
						{{!-- INSERTING THE SIDERBAR QUESTIONS HERE --}}
					</div>
				</div>
				<div class="col-2 mb-3 mb-lg-0 d-md-block d-lg-none">
					<button class="btn btn-block btn-outline-dark px-0" id="questionDropdownButton-chapter4" style="height: 50px;" state="down">&darr;</button>
				</div>
				{{!-- IF USER IS NOT SIGNED IN DISPLAY THIS --}}
				<div class="col-12 col-lg-9 forceSignIn" id="forceSignIn">
					<div class="cn rounded" style="height: 100%; width: 100%; border: 1px solid #dfdfdf;">
						<div class="inner mb-3">
							<p class="text-center mt-2 mt-lg-0 mb-2">Sign in to see the questions.</p>
							<a class="d-flex align-items-center text-align-center btn btn-outline-primary text-white facebook-signin-link" href="/auth/facebook">
								<img src="/static/facebook-white-logo.jpg" width="30" height="30" class="d-inline-block align-top rounded" alt="">
								<div style="margin-left: 25px;">Sign in with Facebook</div>
							</a>
							<a class="d-flex align-items-center text-align-center btn btn-outline-primary mt-2 text-white google-signin-link" href="/auth/google">
								<img class="bg-white rounded" src="/static/google-logo-white.jpg" width="30" height="30" class="d-inline-block align-top rounded" alt="">
								<div style="margin-left: 33px;">Sign in with Google</div>
							</a>
						</div>
					</div>
				</div>
				{{!-- IF THE USER IS SIGNED IN DISPLAY QANDACOL AND OPTIONCOL --}}
				<div class="col-12 col-md-8 col-lg-6 bg-grey d-none QandACol">
					<div class="tab-content" id="nav-tabContent-questions-chapter4">
						{{!-- INSERTING THE QUESTION PARAGRAPHS HERE --}}
						<ul class="nav nav-fill nav-tabs" id="myTab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active chapterHeader qanda" id="question-tab-chapter4" data-toggle="tab" href="#question" role="tab" aria-controls="question" aria-selected="true">Question</a>
							</li>
							<li class="nav-item">
								<a class="nav-link chapterHeader qanda" id="solution-tab-chapter4" data-toggle="tab" href="#solution" role="tab" aria-controls="solution" aria-selected="false">Solution</a>
							</li>
						</ul>
						<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade show active" id="question" role="tabpanel" aria-labelledby="question-tab-chapter4"></div>
							<div class="tab-pane fade" id="solution" role="tabpanel" aria-labelledby="solution-tab-chapter4"></div>
						</div>
					</div>
				</div>
				{{!-- OPTIONS AND STATS DIV --}}
				<div class="col-12 col-md-4 col-lg-3 d-none optionCol">
					<div class="row">
						<div class="col-6 col-md-12 mb-2">
							<button type="button" class="btn btn-outline-secondary btn-lg btn-block optionButton" id="optionA-chapter4"><br></button>
						</div>
						<div class="col-6 col-md-12 mt-0 mt-lg-1 mb-2">
							<button type="button" class="btn btn-outline-secondary btn-lg btn-block optionButton" id="optionB-chapter4"><br></button>
						</div>
						<div class="col-6 col-md-12 mt-1 mb-2">
							<button type="button" class="btn btn-outline-secondary btn-lg btn-block optionButton" id="optionC-chapter4"><br></button>
						</div>
						<div class="col-6 col-md-12 mt-1 mb-2">
							<button type="button" class="btn btn-outline-secondary btn-lg btn-block optionButton" id="optionD-chapter4"><br></button>
						</div>
					</div>
					<button type="button" class="btn btn-dark btn-lg btn-block mt-1" id="checkAnswer-chapter4">Check answer</button>
					{{!-- QUESTION STATS DIV --}}
					<div class="card mt-3 mb-5 mb-md-0">
						<ul class="list-group list-group-flush">
							<div class="row">
								<div class="col-6 col-md-12" id="timesAnseredListElement-chapter4">
									<li class="list-group-item p-0 pt-2">
										<p id="timesAnswered-chapter4" class="lead text-center m-0" style="font-size: 34px;"><br></p>
										<p class="text-center mb-2" style="font-size">Times Answered</p>
									</li>
									<div id="statBorderBottom-chapter4"></div>
								</div>
								<div class="col-6 col-md-12">
									<li class="list-group-item p-0 pt-2">
										<p class="lead text-center m-0" style="font-size: 34px;"><span id="correctPercentage-chapter4"></span><span style="font-size: 16px; font-weight: lighter;">%</span></p>
										<p class="text-center mb-2" style="font-size">Answered Correctly</p>
									</li>
								</div>
							</div>
						</ul>
					</div>
				</div>
				<div class="col-12 col-lg-9 cn" id="subscribeNow-chapter4" style="overflow-x: auto;">
					{{!-- THE SUBSCRIBE NOW DIV IS INSERTED HERE IF NOT PAID --}}
				</div>
			</div>
		</div>
		{{!-- CHAPTER 5 --}}
		<div class="tab-pane" id="nav-chapter5" role="tabpanel" aria-labelledby="nav-chapter5-tab">
			{{!-- CHAPTER 5 HEADING --}}
			<div class="p-0 mt-0 d-flex justify-content-start" style="background-color: #fff; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border: 1px solid #dfdfdf;">
				<div class="rounded" style="width: 100%;border-radius: 4px;border-bottom-left-radius: 3px;">
					<h2 class="text mt-3 text-center">Functions & Equations</h2>
					<p class="text text-center mt-1" style="margin-bottom: 13px;">Complex numbers | Trigonometric Identities</p>
				</div>
			</div>
			{{!-- CHAPTER 5 CONTENT --}}
			<div class="row mt-3">
				<div class="col-10 col-lg-3 mb-3 mb-lg-0">
					<div class="list-group rounded scrollingQuestionsList" id="list-tab-chapter5" role="tablist">
						{{!-- INSERTING THE SIDERBAR QUESTIONS HERE --}}
					</div>
				</div>
				<div class="col-2 mb-3 mb-lg-0 d-md-block d-lg-none">
					<button class="btn btn-block btn-outline-dark px-0" id="questionDropdownButton-chapter5" style="height: 50px;" state="down">&darr;</button>
				</div>
				{{!-- IF USER IS NOT SIGNED IN DISPLAY THIS --}}
				<div class="col-12 col-lg-9 forceSignIn" id="forceSignIn">
					<div class="cn rounded" style="height: 100%; width: 100%; border: 1px solid #dfdfdf;">
						<div class="inner mb-3">
							<p class="text-center mt-2 mt-lg-0 mb-2">Sign in to see the questions.</p>
							<a class="d-flex align-items-center text-align-center btn btn-outline-primary text-white facebook-signin-link" href="/auth/facebook">
								<img src="/static/facebook-white-logo.jpg" width="30" height="30" class="d-inline-block align-top rounded" alt="">
								<div style="margin-left: 25px;">Sign in with Facebook</div>
							</a>
							<a class="d-flex align-items-center text-align-center btn btn-outline-primary mt-2 text-white google-signin-link" href="/auth/google">
								<img class="bg-white rounded" src="/static/google-logo-white.jpg" width="30" height="30" class="d-inline-block align-top rounded" alt="">
								<div style="margin-left: 33px;">Sign in with Google</div>
							</a>
						</div>
					</div>
				</div>
				{{!-- IF THE USER IS SIGNED IN DISPLAY QANDACOL AND OPTIONCOL --}}
				<div class="col-12 col-md-8 col-lg-6 bg-grey d-none QandACol">
					<div class="tab-content" id="nav-tabContent-questions-chapter5">
						{{!-- INSERTING THE QUESTION PARAGRAPHS HERE --}}
						<ul class="nav nav-fill nav-tabs" id="myTab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active chapterHeader qanda" id="question-tab-chapter5" data-toggle="tab" href="#question" role="tab" aria-controls="question" aria-selected="true">Question</a>
							</li>
							<li class="nav-item">
								<a class="nav-link chapterHeader qanda" id="solution-tab-chapter5" data-toggle="tab" href="#solution" role="tab" aria-controls="solution" aria-selected="false">Solution</a>
							</li>
						</ul>
						<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade show active" id="question" role="tabpanel" aria-labelledby="question-tab-chapter5"></div>
							<div class="tab-pane fade" id="solution" role="tabpanel" aria-labelledby="solution-tab-chapter5"></div>
						</div>
					</div>
				</div>
				{{!-- OPTIONS AND STATS DIV --}}
				<div class="col-12 col-md-4 col-lg-3 d-none optionCol">
					<div class="row">
						<div class="col-6 col-md-12 mb-2">
							<button type="button" class="btn btn-outline-secondary btn-lg btn-block optionButton" id="optionA-chapter5"><br></button>
						</div>
						<div class="col-6 col-md-12 mt-0 mt-lg-1 mb-2">
							<button type="button" class="btn btn-outline-secondary btn-lg btn-block optionButton" id="optionB-chapter5"><br></button>
						</div>
						<div class="col-6 col-md-12 mt-1 mb-2">
							<button type="button" class="btn btn-outline-secondary btn-lg btn-block optionButton" id="optionC-chapter5"><br></button>
						</div>
						<div class="col-6 col-md-12 mt-1 mb-2">
							<button type="button" class="btn btn-outline-secondary btn-lg btn-block optionButton" id="optionD-chapter5"><br></button>
						</div>
					</div>
					<button type="button" class="btn btn-dark btn-lg btn-block mt-1" id="checkAnswer-chapter5">Check answer</button>
					{{!-- QUESTION STATS DIV --}}
					<div class="card mt-3 mb-5 mb-md-0">
						<ul class="list-group list-group-flush">
							<div class="row">
								<div class="col-6 col-md-12" id="timesAnseredListElement-chapter5">
									<li class="list-group-item p-0 pt-2">
										<p id="timesAnswered-chapter5" class="lead text-center m-0" style="font-size: 34px;"><br></p>
										<p class="text-center mb-2" style="font-size">Times Answered</p>
									</li>
									<div id="statBorderBottom-chapter5"></div>
								</div>
								<div class="col-6 col-md-12">
									<li class="list-group-item p-0 pt-2">
										<p class="lead text-center m-0" style="font-size: 34px;"><span id="correctPercentage-chapter5"></span><span style="font-size: 16px; font-weight: lighter;">%</span></p>
										<p class="text-center mb-2" style="font-size">Answered Correctly</p>
									</li>
								</div>
							</div>
						</ul>
					</div>
				</div>
				<div class="col-12 col-lg-9 cn" id="subscribeNow-chapter5" style="overflow-x: auto;">
					{{!-- THE SUBSCRIBE NOW DIV IS INSERTED HERE IF NOT PAID --}}
				</div>
			</div>
		</div>
		{{!-- CHAPTER 6 --}}
		<div class="tab-pane" id="nav-chapter6" role="tabpanel" aria-labelledby="nav-chapter6-tab">
			{{!-- CHAPTER 6 HEADING --}}
			<div class="p-0 mt-0 d-flex justify-content-start" style="background-color: #fff; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border: 1px solid #dfdfdf;">
				<div class="rounded" style="width: 100%;border-radius: 4px;border-bottom-left-radius: 3px;">
					<h2 class="text mt-3 text-center">Functions & Equations</h2>
					<p class="text text-center mt-1" style="margin-bottom: 13px;">Complex numbers | Trigonometric Identities</p>
				</div>
			</div>
			{{!-- CHAPTER 6 CONTENT --}}
			<div class="row mt-3">
				<div class="col-10 col-lg-3 mb-3 mb-lg-0">
					<div class="list-group rounded scrollingQuestionsList" id="list-tab-chapter6" role="tablist">
						{{!-- INSERTING THE SIDERBAR QUESTIONS HERE --}}
					</div>
				</div>
				<div class="col-2 mb-3 mb-lg-0 d-md-block d-lg-none">
					<button class="btn btn-block btn-outline-dark px-0" id="questionDropdownButton-chapter6" style="height: 50px;" state="down">&darr;</button>
				</div>
				{{!-- IF USER IS NOT SIGNED IN DISPLAY THIS --}}
				<div class="col-12 col-lg-9 forceSignIn" id="forceSignIn">
					<div class="cn rounded" style="height: 100%; width: 100%; border: 1px solid #dfdfdf;">
						<div class="inner mb-3">
							<p class="text-center mt-2 mt-lg-0 mb-2">Sign in to see the questions.</p>
							<a class="d-flex align-items-center text-align-center btn btn-outline-primary text-white facebook-signin-link" href="/auth/facebook">
								<img src="/static/facebook-white-logo.jpg" width="30" height="30" class="d-inline-block align-top rounded" alt="">
								<div style="margin-left: 25px;">Sign in with Facebook</div>
							</a>
							<a class="d-flex align-items-center text-align-center btn btn-outline-primary mt-2 text-white google-signin-link" href="/auth/google">
								<img class="bg-white rounded" src="/static/google-logo-white.jpg" width="30" height="30" class="d-inline-block align-top rounded" alt="">
								<div style="margin-left: 33px;">Sign in with Google</div>
							</a>
						</div>
					</div>
				</div>
				{{!-- IF THE USER IS SIGNED IN DISPLAY QANDACOL AND OPTIONCOL --}}
				<div class="col-12 col-md-8 col-lg-6 bg-grey d-none QandACol">
					<div class="tab-content" id="nav-tabContent-questions-chapter6">
						{{!-- INSERTING THE QUESTION PARAGRAPHS HERE --}}
						<ul class="nav nav-fill nav-tabs" id="myTab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active chapterHeader qanda" id="question-tab-chapter6" data-toggle="tab" href="#question" role="tab" aria-controls="question" aria-selected="true">Question</a>
							</li>
							<li class="nav-item">
								<a class="nav-link chapterHeader qanda" id="solution-tab-chapter6" data-toggle="tab" href="#solution" role="tab" aria-controls="solution" aria-selected="false">Solution</a>
							</li>
						</ul>
						<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade show active" id="question" role="tabpanel" aria-labelledby="question-tab-chapter6"></div>
							<div class="tab-pane fade" id="solution" role="tabpanel" aria-labelledby="solution-tab-chapter6"></div>
						</div>
					</div>
				</div>
				{{!-- OPTIONS AND STATS DIV --}}
				<div class="col-12 col-md-4 col-lg-3 d-none optionCol">
					<div class="row">
						<div class="col-6 col-md-12 mb-2">
							<button type="button" class="btn btn-outline-secondary btn-lg btn-block optionButton" id="optionA-chapter6"><br></button>
						</div>
						<div class="col-6 col-md-12 mt-0 mt-lg-1 mb-2">
							<button type="button" class="btn btn-outline-secondary btn-lg btn-block optionButton" id="optionB-chapter6"><br></button>
						</div>
						<div class="col-6 col-md-12 mt-1 mb-2">
							<button type="button" class="btn btn-outline-secondary btn-lg btn-block optionButton" id="optionC-chapter6"><br></button>
						</div>
						<div class="col-6 col-md-12 mt-1 mb-2">
							<button type="button" class="btn btn-outline-secondary btn-lg btn-block optionButton" id="optionD-chapter6"><br></button>
						</div>
					</div>
					<button type="button" class="btn btn-dark btn-lg btn-block mt-1" id="checkAnswer-chapter6">Check answer</button>
					{{!-- QUESTION STATS DIV --}}
					<div class="card mt-3 mb-5 mb-md-0">
						<ul class="list-group list-group-flush">
							<div class="row">
								<div class="col-6 col-md-12" id="timesAnseredListElement-chapter6">
									<li class="list-group-item p-0 pt-2">
										<p id="timesAnswered-chapter6" class="lead text-center m-0" style="font-size: 34px;"><br></p>
										<p class="text-center mb-2" style="font-size">Times Answered</p>
									</li>
									<div id="statBorderBottom-chapter6"></div>
								</div>
								<div class="col-6 col-md-12">
									<li class="list-group-item p-0 pt-2">
										<p class="lead text-center m-0" style="font-size: 34px;"><span id="correctPercentage-chapter6"></span><span style="font-size: 16px; font-weight: lighter;">%</span></p>
										<p class="text-center mb-2" style="font-size">Answered Correctly</p>
									</li>
								</div>
							</div>
						</ul>
					</div>
				</div>
				<div class="col-12 col-lg-9 cn" id="subscribeNow-chapter6" style="overflow-x: auto;">
					{{!-- THE SUBSCRIBE NOW DIV IS INSERTED HERE IF NOT PAID --}}
				</div>
			</div>
		</div>
	</div>
</div>
{{!-- THIS IS THE PAYMENT DIV --}}
<div class="d-none">
	<div class="col-12 cn" id="subscribeNowDiv">
		<div class="cn rounded" style="border: 1 px solid #dfdfdf">
			<div class="rounded px-5" style="border-radius: 9px; padding-top:30px; padding-bottom: 30px;">
				<div class="row">
					<div class="d-none d-md-block col-md-6">
						<div class="mathCourse p-3" style="background-color: #333333; width: 247.5px; height: 356px;">
							<a href="#" onclick="return false;" class="mainCourse">
								<h3 class="text-center mt-1 mb-4" style="margin-bottom: 20px !important;">Mathematics Higher Level</h3>
								<div class="d-flex justify-content-center">
									<div class="flex flex-center justify-center" style="height 100px;">
										<svg viewBox="0 0 100 100" width="180px" fill="none">
										<path d="M50,0 L50,100" stroke="#FDE6E0" stroke-width="0.5"></path>
									<path d="M0,50 L100,50" stroke="#FDE6E0" stroke-width="0.5"></path>
									<circle id="circle" cx="50" cy="50" r="40" stroke="#89C2EF"></circle>
									
								<path id="line" d="M50,50 L90,50.00000000000001" stroke="#F79C82"></path>
								<circle id="marker-1" cx="50" cy="50" r="1" stroke="#F79C82" fill="white"></circle>
								<circle id="marker-2" cx="90" cy="50.00000000000001" r="3" stroke="#fff" fill="#F79C82"></circle>
								
								<text id="angle" x="55" y="58" font-family="monospace" font-size="0" fill="#8A90A4">θ = 360.00°</text>
								<text id="radius" x="55" y="64" font-family="monospace" font-size="0" fill="#8A90A4">r = 40</text>
							</svg>
						</div>
						<script src="//static.codepen.io/assets/common/stopExecutionOnTimeout-41c52890748cd7143004e05d3c5f786c66b19939c4500ce446314d1748483e13.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.5/TweenMax.min.js"></script>
						<script src="/static/js/mathLogo.js"></script>
					</div>
					<p class="mt-2 text-center lead" style="margin-top: 13px !important;">12 Chapters</p>
				</a>
			</div>
		</div>
		<div class="col-12 col-md-6 justify-content-center">
			<div class="card border-success mb-3" style="max-width: 18rem; border-radius: 9px; height: 356px; width: 247px;">
				<div class="alert alert-success mb-0" role="alert" style="border-top-left-radius: 9px; border-top-right-radius: 9px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;">
					<h4 class="alert-heading text-center" style="margin-top: 9px;">Subscribe Now!</h4>
				</div>
				<div class="card-header d-none text-center"><h3 class="text-center mt-2">Subscribe Now</h3></div>
				<div class="card-body">
					<h5 class="card-text mt-2">Subscribe to unlock the full question bank</h5>
					<p class="lead text-center m-0 my-4 strikethrough" style="font-size: 24px;"><span class="text-success setLocalcurrency">$4.99</span><span style="font-size: 18px;">/month</span></p>
					<p class="card-text mt-2">New IB exam questions are added each month!</p>
					<a class="btn btn-block btn-outline-success" href="/payment">Subscribe Now</a>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>
</div>
<script>
	//Only used if not logged in
	$(window).bind("load", function() {
		document.getElementById('body').classList.remove('d-none');
	});
	// Global variables
	var currentQuestionIds = ['','','','','',''];
	var correctOptionGlobal = '';
	var QBUserData = [];
	var currentChapterGlobal = 1;

	function getScreenWidth() {
		if (window.innerWidth >= 1200) {
			return 5; //xl
		}
		else if (window.innerWidth < 1200 && window.innerWidth >= 992) {
			return 4; //lg
		}
		else if (window.innerWidth < 992 && window.innerWidth >= 768) {
			return 3; //md
		}
		else if (window.innerWidth < 768 && window.innerWidth >= 576) {
			return 2; //sm
		}
		else if (window.innerWidth < 576) {
			return 1; //xs
		}
	};
</script>
<script src="/static/js/questions.js"></script>
<script src="/static/js/insertQuestions.js"></script>
<script src="/static/js/questionPageSize.js"></script>