<!-- var red = '#F79C82';
var lightRed = '#FDE6E0';
var grey = '#8A90A4';
var blue = '#89C2EF';
var green = '#95D9AD';
var lightGrey = '#969CAE'; -->

<div class="flex flex-center justify-center" style="height 100px;">

  <svg viewBox="0 0 100 100" width="180px" fill="none">
    
    <path d="M50,0 L50,100" stroke="#FDE6E0" stroke-width="0.5" />
    <path d="M0,50 L100,50" stroke="#FDE6E0" stroke-width="0.5" />
    <circle id="circle" cx="50" cy="50" r="40" stroke="#89C2EF" />
    
    <path id="line"
          d="M50,50 L90,50" 
          stroke="#F79C82" />
    <circle id="marker-1"
          cx="50" cy="50" r="1" 
          stroke="#F79C82" fill="white" />
    <circle id="marker-2"
          cx="90" cy="50" r="3" 
          stroke="#fff" fill="#F79C82" />
    
    <text id="angle"
        x="55" y="58" 
        font-family="monospace" 
        font-size="0"
        fill="#8A90A4">
      θ = 0 rads
    </text>
    <text id="radius"
        x="55" y="64" 
        font-family="monospace" 
        font-size="0"
        fill="#8A90A4">
      r = 40
    </text>
  </svg>

</div>
<script src='//static.codepen.io/assets/common/stopExecutionOnTimeout-41c52890748cd7143004e05d3c5f786c66b19939c4500ce446314d1748483e13.js'></script><script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.5/TweenMax.min.js'></script>
<script >var line = document.getElementById('line');
var marker1 = document.getElementById('marker-1');
var marker2 = document.getElementById('marker-2');
var angle = document.getElementById('angle');
var radius = document.getElementById('radius');

var steps = new Array(32).fill(0);

var tl = new TimelineMax({
  repeat: -1,
  yoyo: true,
  repeatDelay: 1 });


steps.forEach(function (_, idx) {
  var t = -3 * Math.PI * (idx + 1) / (1.5 * steps.length);
  var l = getLoc(40, t);
  var tm = 3 / steps.length;
  var step = 360 / (steps.length - 1);

  tl.to(line, tm, {
    attr: { d: 'M50,50 L' + l.join(',') } },
  idx * tm).
  to(marker2, tm, {
    attr: { cx: l[0], cy: l[1] },
    onUpdate: function onUpdate() {
      angle.textContent = '\u03B8 = ' + (step * idx).toFixed(2) + '\xB0';
    } },
  idx * tm);
});

steps.forEach(function (_, idx) {
  var r = 40 - 30 * idx / steps.length;
  var l = getLoc(r, 0);
  var tm = 1 / steps.length;

  tl.to(line, tm, {
    attr: { d: 'M50,50 L' + l.join(',') } },
  3.5 + idx * tm).
  to(circle, tm, {
    attr: { r: r } },
  3.5 + idx * tm).
  to(marker2, tm, {
    attr: { cx: l[0], cy: l[1] },
    onUpdate: function onUpdate() {
      radius.textContent = 'r = ' + Math.round(r);
    } },
  3.5 + idx * tm);
});



function getLoc(r, t) {
  return [50 + r * Math.cos(t), 50 + r * Math.sin(t)];
}
//# sourceURL=pen.js
</script>


<!-- Top Chapter Selection Bar -->
<div class="d-none" id="questionspageloaded">The questions page has been loaded</div>
<div class="container mt-3">
	{{!-- CHAPTER LINKS --}}
	<nav>
		<div class="nav nav-tabs" id="nav-tab" role="tablist">
			<a class="nav-item nav-link active chapterHeader" id="nav-chapter1-tab" data-toggle="tab" href="#nav-chapter1" role="tab" aria-controls="nav-chapter1" aria-selected="true">Chapter 1</a>
			<a class="nav-item nav-link chapterHeader" id="nav-chapter2-tab" data-toggle="tab" href="#nav-chapter2" role="tab" aria-controls="nav-chapter2" aria-selected="false">Chapter 2</a>
		</div>
	</nav>
	{{!-- CHAPTER SECTIONS --}}
	<div class="tab-content" id="nav-tabContent-chapter">
		{{!-- CHAPTER 1 --}}
		<div class="tab-pane fade show active" id="nav-chapter1" role="tabpanel" aria-labelledby="nav-chapter1-tab">
			{{!-- CHAPTER 1 HEADING --}}
			<div class="p-0 mt-3 d-flex justify-content-start">
				<div>
					<img src="/static/chapterLogo.png" class="d-flex rounded" style="width: 129px; height: 129px;">
				</div>
				<div class="rounded ml-3" style="width: 100%">
					<div class="card text-center">
						<div class="card-body">
							<h2 class="card-title mb-0">Chapter 1: Algebra</h2>
						</div>
						<div class="card-footer text-muted" style="background-color: #f1f1f1">Stats:</div>
					</div>
				</div>
			</div>
			{{!-- QUESTIONS SECTION --}}
			<div class="row mt-3">
				<div class="col-3" id="sidebarDiv">
					<div class="list-group scrollingQuestionsList" id="list-tab" role="tablist">
						{{!-- INSERTING THE SIDERBAR QUESTIONS HERE --}}
					</div>
				</div>
				{{!-- IF USER IS NOT SIGNED IN DISPLAY THIS --}}
				<div class="col-9" id="forceSignIn">
					<div class="cn rounded" style="height: 100%; border: 2px solid #dfdfdf;">
						<div class="inner mb-3">
							<p class="text-center mb-2">Sign in to see the questions.</p>
							<a class="d-flex align-items-center text-align-center btn btn-outline-primary text-white facebook-signin-link" href="/auth/facebook">
								<img src="/static/facebook-white-logo.jpg" width="30" height="30" class="d-inline-block align-top rounded" alt="">
								<div style="margin-left: 25px;">Sign in with Facebook</div>
							</a>
							<a class="d-flex align-items-center text-align-center btn btn-outline-primary mt-2 text-white google-signin-link" href="/auth/google">
								<img class="bg-white rounded" src="/static/google-logo-white.jpg" width="30" height="30" class="d-inline-block align-top rounded" alt="">
								<div style="margin-left: 33px;">Sign in with Google</div>
							</a>
						</div>
					</div>
				</div>
				{{!-- IF THE USER IS SIGNED IN DISPLAY QANDACOL AND OPTIONCOL --}}
				<div class="col-6 bg-grey d-none" id="QandACol">
					<div class="tab-content" id="nav-tabContent-questions">
						{{!-- INSERTING THE QUESTION PARAGRAPHS HERE --}}
						<ul class="nav nav-fill nav-tabs" id="myTab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active chapterHeader qanda" id="question-tab" data-toggle="tab" href="#question" role="tab" aria-controls="question" aria-selected="true">Question</a>
							</li>
							<li class="nav-item">
								<a class="nav-link chapterHeader qanda" id="solution-tab" data-toggle="tab" href="#solution" role="tab" aria-controls="solution" aria-selected="false">Solution</a>
							</li>
						</ul>
						<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade show active" id="question" role="tabpanel" aria-labelledby="question-tab"></div>
							<div class="tab-pane fade" id="solution" role="tabpanel" aria-labelledby="solution-tab"></div>
						</div>
					</div>
				</div>
				<div class="col-3 d-none" id="optionCol">
					<button type="button" class="btn btn-outline-secondary btn-lg btn-block" id="optionA"></button>
					<button type="button" class="btn btn-outline-secondary btn-lg btn-block" id="optionB"></button>
					<button type="button" class="btn btn-outline-secondary btn-lg btn-block" id="optionC"></button>
					<button type="button" class="btn btn-outline-secondary btn-lg btn-block" id="optionD"></button>
					<button type="button" class="btn btn-dark btn-lg btn-block" id="checkAnswer">Check answer</button>
				</div>
			</div>
		</div>
		{{!-- CHAPTER 2 --}}
		<div class="tab-pane fade" id="nav-chapter2" role="tabpanel" aria-labelledby="nav-chapter2-tab">This is the second chapter.</div>
	</div>
</div>
<script>
	$(window).bind("load", function() {
   document.getElementById('body').classList.remove('d-none');
});
</script>

<script src="/static/js/questions.js"></script>
<script src="/static/js/insertQuestions.js"></script>
<script src="/static/js/questionPageSize.js"></script>