<!-- Top Chapter Selection Bar -->
<div class="d-none" id="questionspageloaded">The questions page has been loaded</div>
<div class="container mt-3">
	{{!-- CHAPTER LINKS --}}
	<nav>
		<div class="nav nav-tabs" id="nav-tab" role="tablist">
			<a class="nav-item nav-link active chapterHeader mathHL" id="nav-chapter1-tab" data-toggle="tab" href="#nav-chapter1" role="tab" aria-controls="nav-chapter1" aria-selected="true">Chapter 1</a>
			<a class="nav-item nav-link chapterHeader mathHL" id="nav-chapter2-tab" data-toggle="tab" href="#nav-chapter2" role="tab" aria-controls="nav-chapter2" aria-selected="false">Chapter 2</a>
		</div>
	</nav>
	{{!-- CHAPTER SECTIONS --}}
	<div class="tab-content" id="nav-tabContent-chapter">
		{{!-- CHAPTER 1 --}}
		<div class="tab-pane fade show active" id="nav-chapter1" role="tabpanel" aria-labelledby="nav-chapter1-tab">
			{{!-- CHAPTER 1 HEADING --}}
			<div class="p-0 mt-3 d-flex justify-content-start">
				<div>
					<img src="/static/chapterLogo.png" class="d-flex rounded" style="width: 129px; height: 129px;">
				</div>
				<div class="rounded ml-3" style="width: 100%">
					<div class="card text-center">
						<div class="card-body">
							<h2 class="card-title mb-0">Chapter 1: Algebra</h2>
						</div>
						<div class="card-footer text-muted" style="background-color: #f1f1f1">Sequences and Series | Logarithms | Functions</div>
					</div>
				</div>
			</div>
			{{!-- QUESTIONS SECTION --}}
			<div class="row mt-3">
				<div class="col-3" id="sidebarDiv">
					<div class="list-group scrollingQuestionsList" id="list-tab" role="tablist">
						{{!-- INSERTING THE SIDERBAR QUESTIONS HERE --}}
					</div>
				</div>
				{{!-- IF USER IS NOT SIGNED IN DISPLAY THIS --}}
				<div class="col-9" id="forceSignIn">
					<div class="cn rounded" style="height: 100%; border: 2px solid #dfdfdf;">
						<div class="inner mb-3">
							<p class="text-center mb-2">Sign in to see the questions.</p>
							<a class="d-flex align-items-center text-align-center btn btn-outline-primary text-white facebook-signin-link" href="/auth/facebook">
								<img src="/static/facebook-white-logo.jpg" width="30" height="30" class="d-inline-block align-top rounded" alt="">
								<div style="margin-left: 25px;">Sign in with Facebook</div>
							</a>
							<a class="d-flex align-items-center text-align-center btn btn-outline-primary mt-2 text-white google-signin-link" href="/auth/google">
								<img class="bg-white rounded" src="/static/google-logo-white.jpg" width="30" height="30" class="d-inline-block align-top rounded" alt="">
								<div style="margin-left: 33px;">Sign in with Google</div>
							</a>
						</div>
					</div>
				</div>
				{{!-- IF THE USER IS SIGNED IN DISPLAY QANDACOL AND OPTIONCOL --}}
				<div class="col-6 bg-grey d-none" id="QandACol">
					<div class="tab-content" id="nav-tabContent-questions">
						{{!-- INSERTING THE QUESTION PARAGRAPHS HERE --}}
						<ul class="nav nav-fill nav-tabs" id="myTab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active chapterHeader qanda" id="question-tab" data-toggle="tab" href="#question" role="tab" aria-controls="question" aria-selected="true">Question</a>
							</li>
							<li class="nav-item">
								<a class="nav-link chapterHeader qanda" id="solution-tab" data-toggle="tab" href="#solution" role="tab" aria-controls="solution" aria-selected="false">Solution</a>
							</li>
						</ul>
						<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade show active" id="question" role="tabpanel" aria-labelledby="question-tab"></div>
							<div class="tab-pane fade" id="solution" role="tabpanel" aria-labelledby="solution-tab"></div>
						</div>
					</div>
				</div>
				<div class="col-3 d-none" id="optionCol">
					<button type="button" class="btn btn-outline-secondary btn-lg btn-block optionButton" id="optionA"><br></button>
					<button type="button" class="btn btn-outline-secondary btn-lg btn-block optionButton" id="optionB"><br></button>
					<button type="button" class="btn btn-outline-secondary btn-lg btn-block optionButton" id="optionC"><br></button>
					<button type="button" class="btn btn-outline-secondary btn-lg btn-block optionButton" id="optionD"><br></button>
					<button type="button" class="btn btn-dark btn-lg btn-block" id="checkAnswer">Check answer</button>
					{{!-- QUESTION STATS DIV --}}
					<div class="card mt-3" id="questionStats">
						<div class="card-header">
							<h5 class="mb-0 text-center">Question Stats</h5>
						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">
								<img src="/static/logo.png" style="margin-top: 2px; margin-right: 5px;" width="20" height="20" class="d-inline-block align-top" alt="">
								Answered
							</li>
							<li class="list-group-item">
								<img src="/static/logo.png" style="margin-top: 2px; margin-right: 5px;" width="20" height="20" class="d-inline-block align-top" alt="">
								Correct
							</li>
							<li class="list-group-item">
								<img src="/static/logo.png" style="margin-top: 2px; margin-right: 5px;" width="20" height="20" class="d-inline-block align-top" alt="">
								Correct (Global)
							</li>
							<li class="list-group-item">
								<img src="/static/logo.png" style="margin-top: 2px; margin-right: 5px;" width="20" height="20" class="d-inline-block align-top" alt="">
								Time
							</li>
							<li class="list-group-item">
								<img src="/static/logo.png" style="margin-top: 2px; margin-right: 5px;" width="20" height="20" class="d-inline-block align-top" alt="">
								Time (Global)
							</li>
							<li class="list-group-item">
								<img src="/static/logo.png" style="margin-top: 2px; margin-right: 5px;" width="20" height="20" class="d-inline-block align-top" alt="">
								Difficulty
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		{{!-- CHAPTER 2 --}}
		<div class="tab-pane fade" id="nav-chapter2" role="tabpanel" aria-labelledby="nav-chapter2-tab">This is the second chapter.</div>
	</div>
</div>
<script>
	$(window).bind("load", function() {
document.getElementById('body').classList.remove('d-none');
});
</script>
<script src="/static/js/questions.js"></script>
<script src="/static/js/insertQuestions.js"></script>
<script src="/static/js/questionPageSize.js"></script>