.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.dropdown-menu-right {
    right:0;
    left:auto;
}

.google-signin-link {
  height: 50px;
   width: 260px; 
   background-color: #4285f4; 
   border-color: #4285f4; 
}
.google-signin-link:hover {
     background-color: #1266f1;
     border-color: #1266f1;
}

.facebook-signin-link {
  height: 50px;
   width: 260px; 
   background-color: #38569E; 
   border-color: #38569E; 
}
.facebook-signin-link:hover {
     background-color: #2d4373;
     border-color: #2d4373;
}

.facebook-signin-link:focus {
     background-color: #2d4373 !important;
     border-color: #2d4373;
     box-shadow: 0 0 0 0.2rem rgba(46,67,115,.5) !important;
}

.facebook-signin-link:active {
     background-color: #2d4373 !important;
     border-color: #2d4373;
     box-shadow: 0 0 0 0.2rem rgba(46,67,115,.5) !important;
}