/*html {
  font-size: 14px;
}
@media (min-width: 768px;) {
  html {
    font-size: 16px;
  }
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}
html * {
	font-family: Roboto !important;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

*/
/*My Stuff*/
body {
	height: 100%;
}

#fullHeight {
	height: 100vw;
}

#qqq {
	height: 100%;
}

.chapter {
	padding: 15px;
	margin: 25px;
	border: 2px solid;
	border-color: #f1f1f1;
	border-radius: 5px;
	box-shadow: 3px 2px #f1f1f1;
	transition: border-color .3s;
	background-color: white;
}

.chapter:hover {
	border-color: #20a900;
	box-shadow: none;
}

.sidebarCourse {
	border-radius: 5px;
	border-color: #20a900;
	background-color: #20a900;
	color: white;
}

.borderless {
	border: none;
	background-color: #20a900;
	color: white;
}

.sidebarLink {
	text-decoration: underline;
	color: white;
}

.sidebarLink:hover {
	color: black;
}

.lock {
	width: 50px;
	height: 50px;
	border: 2px solid #ffc500;
}

.linkchapter {
	color: inherit;
}

.linkchapter:hover {
	 color: black;
	 text-decoration: none;
}

.list-group-item.list-group-item-action.active.success {
	background-color: #d4edd9;
	border-color: #dfdfdf;
}

.list-group-item.list-group-item-action.active.warning {
	background-color: #fcf3cd;
	border-color: #dfdfdf;
}

.list-group-item.list-group-item-action.active.danger {
	background-color: #f8d7da;
	border-color: #dfdfdf;
}

.list-group-item.list-group-item-action.active.dark {
	background-color: #d6d8d9;
	border-color: #dfdfdf;
}

.list-group-item.active.success {
	color: #205824;
}

.list-group-item.active.warning {
	color: #856403;
}

.list-group-item.active.danger {
	color: #721c24;
}

.list-group-item.active.dark {
	color: #1d1c4b;
}

.scrollingQuestionsList {
	height: 100%;
	overflow-y: scroll;
	border-bottom: 2px solid #dfdfdf;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top: 1px solid #dfdfdf;
	border-radius: 3px;
}

.scrollingQuestions {
	height: 398px;
	overflow-y: scroll;
	direction: ltr;
}

.centerDiv {
	position: relative;
	top: 50%;
	transform: perspective(1px) translateY(-50%);
}

.verticalBreak {
	border-left: 2px solid #f1f1f1;
}

.chapterHeader {
	color: rgba(73,80,87,0.6);
}

.chapterHeader:hover {
	color: rgba(73,80,87,1.0);
}

.nav-item.nav-link.active.mathHL {
	background-color: #333333;
	color: white;
	border-color: #dddddd;
}

.btn.btn-light.btn-block {
	background-color: #f7f7f7;
	border-color: #f7f7f7;
}

.btn.btn-light.btn-block:hover {
	background-color: #f1f1f1;
}

.circle {
	height: 35px;
	width: 35px;
	background-image: url("/static/ring.png");
	background-size: 100%;
	background-repeat: no-repeat;
}

.circleHover {
	height: 35px;
	width: 35px;
	background-image: url("/static/hoverCircle.png");
	background-size: 100%;
	display: none;
}

.btn-mathHL {
	background-color: #20a900;
	border-color: #20a900;
	color: white;
}

.btn-mathHL:hover {
	color: white;
	background-color: #20a900;
	opacity: .8;
	transition-duration: .5s;
}

.btn-chemHL {
	color: white;
	background-color: #d62007;
	border-color: #d62007;
}

.btn-chemHL:hover {
	color: white;
	background-color: #d62007;
	border-color: #d62007;
	opacity: .8;
	transition-duration: .5s;
}

.card-body {
	text-align: center;
}

.flex-grow {
	flex: 1 0 auto;
}
/*Connecting chapters from courses to questions page*/


.nav-link.active.qanda {
	/*background-color: #20a900 !important;*/
	/*color: white !important;*/
	/*border-color: #20a900 !important;*/
	color: #20a900 !important;
}

.cn {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.badge-warning {
	color: white;
}

.btn-outline-secondary {
	background-color: #f7f7f7f;
	border-color: black;
	color: black;
}

.btn-outline-secondary:hover:enabled {
	background-color: #eaeaf9 !important;
	border-color: black !important;
	color: black !important;
}

.btn-outline-secondary:hover:disabled {
	border-color: black !important;
}

.btn-outline-secondary:focus {
	background-color: #eaeaf9 !important;
	border-color: #155724 !important;
	color: black !important;
	box-shadow: 0 0 0 0.2rem rgba(0,0,0,.5) !important;
}

.btn-outline-secondary:active {
	background-color: #eaeaf9 !important;
	border-color: #155724 !important;
	color: black !important;
	box-shadow: 0 0 0 0.2rem rgba(0,0,0,.5) !important;
}

.btn-secondary {
	background-color: #eaeaf9 !important;
	border-color: #155724 !important;
	color: black !important;
	box-shadow: 0 0 0 0.2rem rgba(86,62,124,0.6) !important;
}

.btn-outline-secondary:disabled {
	background-color: #f8f8ff;
	border-color: black;
	color: black;
}

/*.optionButton {
	background-color: white;
	border-color: #563d7c;
	color: #563d7c;
}*/

/*.optionButton:hover {
	background-color: #f5efff;
	color: black;
}*/

/*.optionButton:focus {
	background-color: #cbbde2;
	box-shadow: 0 0 0 0.2rem rgba(86,61,124,0.5);
	color: black;
}*/
/*
.optionButton:hover:enabled {
	background-color: #cbbde2;
	box-shadow: 0 0 0 0.2rem rgba(86,61,124,0.5);
	color: black;
}

.optionButton:hover:disabled {
	color: inherit;
	/*opacity: 0.65;*/
/*}*

/*.optionButton:active {
	background-color: #cbbde2 !important;
	box-shadow: 0 0 0 0.2rem rgba(86,61,124,0.5) !important;
	color: black !important;
}*/


=======
/*ANIMATED HEART*/
>>>>>>> 772013e25f26b45580eba9e01749323b3b6a0a14
