html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }


/*My Stuff*/

#fullHeight {
	height: 100vw;
}

.chapter {
	padding: 15px;
	margin: 25px;
	border: 2px solid;
	border-color: #f1f1f1;
	border-radius: 5px;
	box-shadow: 3px 3px #f1f1f1;
	transition: border-color .3s;
}

.chapter:hover {
	border-color: #20a900;
	box-shadow: none;
}

.linkchapter {
	color: inherit;
}

.linkchapter:hover {
	 color: black;
	 text-decoration: none;
}

.list-group-item.list-group-item-action.active {
	background-color: #20a900;
	border-color: #20a900;

}

.scrollingQuestions {
	height: 400px;
	overflow-y: scroll;
}

.centerDiv {
	position: relative;
	top: 50%;
	transform: perspective(1px) translateY(-50%);
}

.verticalBreak {
	border-left: 2px solid #f1f1f1;
}

.chapterHeader {
	color: black;
}

.chapterHeader:hover {
	color: #20a900;
}

.nav-item.nav-link.active {
	background-color: #20a900;
	color: white;
	border-color: #20a900;
}

/*Connecting chapters from courses to questions page*/

#chapter2 {
}

/*WORK ON CENTERING TEXT IN DIV IN COURSES*/

