<!DOCTYPE html>

<html>

<head>
  <title>QuestionBanks</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="shortcut icon" href="/static/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="/static/css/pricing.css">

</head>

<body>

  <div id="my-navbar"></div>
  <h1>Courses Page</h1>

</body>

  <script src="/static/js/api.js"></script>
  <script src="/static/js/navbar.js"></script>
  <script src="/static/js/index.js"></script>
</html>
