<!DOCTYPE html>

<html>

<head>
  <title>QuestionBanks</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="shortcut icon" href="/static/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="/static/css/pricing.css">
  <style>
  	ul.menu li {
  		display: inline;
  	}
  </style>
</head>

<body>

  <div id="my-navbar"></div>
  <h1>Features Page</h1>

<div class="container mt-5">
	<div class="row">
		<div class="col-md-3 pay">
			<h4 class="mt-5 total" style="text-align: center;">total</h4>
			<h3 class="money" style="text-align: center;">$500</h3>
			<h6 class="mt-5 mb-3 total" style="text-align: center;">detail</h6>
			<div class="row container m-0">
				<div class="col-12">
					<ul class="p-0 menu row">
						<li class="col-6 elementsLeft" style="text-align: left;">Math HL</li>
						<li class="col-6 elementsRight" style="text-align: right;">$500</li>
					</ul>
				</div>
				<div class="col-12">
					<ul class="p-0 menu row mb-5">
						<li class="col-6 elementsLeft" style="text-align: left; margin-top: -10px;">1 month</li>
						<li class="col-6 elementsRight" style="text-align: right; margin-top: -10px;">x1</li>
					</ul>
				</div>	
			</div>
			<div class="mr-0 mb-4 d-flex justify-content-center">
				<button class="payNow">pay now</a>
			</div>
		</div>
	</div>
</div>

</body>

  <script src="/static/js/api.js"></script>
  <script src="/static/js/navbar.js"></script>
  <script src="/static/js/index.js"></script>
</html>
