<!DOCTYPE html>

<html>

<head>
  <title>QuestionBanks</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto" />

  <link rel="shortcut icon" href="/static/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="/static/css/pricing.css">
</head>

<body style="background-color: #f7f7f7">

<div id="my-navbar"></div>
<section class="jumbotron text-center m-0 pt-3 pb-3">
  <div class="container">
    <h1 class="jumbotron-heading">Courses</h1>
    <p class="lead text-muted">Try our free course to find out more about the structure and difficulty of our main IB courses, including maths, economics and sciences, now available in both standard and higher level.</p>  
    <a href="#" class="btn btn-primary mb-2">Try our free course</a>
  </div>
</section>

<div class="container">

  <div class="row mx-auto mt-4">
    <div class="col-md-3">
      <div class="mathCourse p-3">
        <a href="/courses" class="mainCourse">
          <h2 class="text-center mt-3 mb-3">Mathematics Higher Level</h2>
          <div class="d-flex justify-content-center">
            <img src="/static/algebra.png" style="height: 200px; width: 200px;">
          </div>
          <p class="mt-3 text-center">7 Chapters</p>
        </a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="mathCourse p-3">
        <a href="/courses" class="mainCourse">
          <h2 class="text-center mt-3 mb-3">Mathematics Higher Level</h2>
          <div class="d-flex justify-content-center">
            <img src="/static/math_hl.png" style="height: 200px; width: 200px;">
          </div>
          <p class="mt-3 text-center">9 Chapters</p>
        </a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="mathCourse p-3">
        <a href="/courses" class="mainCourse">
          <h2 class="text-center mt-3 mb-3">Mathematics Higher Level</h2>
          <div class="d-flex justify-content-center">
            <img src="/static/math_hl.png" style="height: 200px; width: 200px;">
          </div>
          <p class="mt-3 text-center">11 Chapters</p>
        </a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="mathCourse p-3">
        <a href="/courses" class="mainCourse">
          <h2 class="text-center mt-3 mb-3">Mathematics Higher Level</h2>
          <div class="d-flex justify-content-center">
            <img src="/static/math_hl.png" style="height: 200px; width: 200px;">
          </div>
          <p class="mt-3 text-center">10 Chapters</p>
        </a>
      </div>
    </div>
  </div>


            </div>


</body>

  <script src="/static/js/api.js"></script>
  <script src="/static/js/navbar.js"></script>
  <script src="/static/js/index.js"></script>
</html>
