<!DOCTYPE html>

<html>

<head>
  <title>QuestionBanks</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto" />

  <link rel="shortcut icon" href="/static/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="/static/css/pricing.css">
</head>

<body style="background-color: #f7f7f7">

<div id="my-navbar"></div>

<div class="container">

  <div class="container" style="padding-left: 200px; padding-right: 200px">
    <h1 class="display-2 text-center">Courses</h1>
    <p class="lead text-center">
      Ace your IB exams with these guided and interactive question banks.
    </p>
  </div>

  <div class="row mx-auto mt-5">
    <div class="col-md-3">
      <div class="mathCourse p-3" style="background-color: #333333">
        <a href="/courses" class="mainCourse">
          <h2 class="text-center mt-3 mb-3">Mathematics Higher Level</h2>
          <div class="d-flex justify-content-center">
            <img src="/static/algebra.png" class="p-3" style="height: 180px; width: 180px;">
          </div>
          <p class="mt-3 text-center lead">7 Chapters</p>
        </a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="mathCourse p-3" style="background-color: #e91a8f">
        <a href="/courses" class="mainCourse">
          <h2 class="text-center mt-3 mb-3">Physics<br>Higher Level</h2>
          <div class="d-flex justify-content-center">
            <img src="/static/math_hl.png" class="p-3" style="height: 180px; width: 180px;">
          </div>
          <p class="mt-3 text-center lead">9 Chapters</p>
        </a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="mathCourse p-3" style="background-color: #625cdb">
        <a href="/courses" class="mainCourse">
          <h2 class="text-center mt-3 mb-3">Chemistry<br>Higher Level</h2>
          <div class="d-flex justify-content-center">
            <img src="/static/chemlogo2.png" class="p-3" style="height: 180px; width: 180px;">
          </div>
          <p class="mt-3 text-center lead">11 Chapters</p>
        </a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="mathCourse p-3" style="background-color: #ec7300">
        <a href="/courses" class="mainCourse">
          <h2 class="text-center mt-3 mb-3">Economics Higher Level</h2>
          <div class="d-flex justify-content-center">
            <img src="/static/math_hl.png" class="p-3" style="height: 180px; width: 180px;">
          </div>
          <p class="mt-3 text-center lead">10 Chapters</p>
        </a>
      </div>
    </div>
  </div>

  <div class="row mx-auto mt-5">
    <div class="col-md-3">
      <div class="mathCourse p-3" style="background-color: #20a900">
        <a href="/courses" class="mainCourse">
          <h2 class="text-center mt-3 mb-3">Mathematics Standard Level</h2>
          <div class="d-flex justify-content-center">
            <img src="/static/algebra.png" class="p-3" style="height: 180px; width: 180px;">
          </div>
          <p class="mt-3 text-center lead">7 Chapters</p>
        </a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="mathCourse p-3" style="background-color: #69047e">
        <a href="/courses" class="mainCourse">
          <h2 class="text-center mt-3 mb-3">Physics<br>Standard Level</h2>
          <div class="d-flex justify-content-center">
            <img src="/static/algebra.png" class="p-3" style="height: 180px; width: 180px;">
          </div>
          <p class="mt-3 text-center lead">7 Chapters</p>
        </a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="mathCourse p-3" style="background-color: #d62007">
        <a href="/courses" class="mainCourse">
          <h2 class="text-center mt-3 mb-3">Chemistry Standard Level</h2>
          <div class="d-flex justify-content-center">
            <img src="/static/firstlogo1.png" class="p-3" style="height: 180px; width: 180px;">
          </div>
          <p class="mt-3 text-center lead">7 Chapters</p>
        </a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="mathCourse mb-5 p-3" style="background-color: #0093a6">
        <a href="/courses" class="mainCourse">
          <h2 class="text-center mt-3 mb-3">Economics Standard Level</h2>
          <div class="d-flex justify-content-center">
            <img src="/static/algebra.png" class="p-3" style="height: 180px; width: 180px;">
          </div>
          <p class="mt-3 text-center lead">7 Chapters</p>
        </a>
      </div>
    </div>

  </div>


</div>


</body>

  <script src="/static/js/api.js"></script>
  <script src="/static/js/navbar.js"></script>
  <script src="/static/js/index.js"></script>
</html>
